@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	background-color: #0b1324;
}

::selection {
	background: rgba(56, 189, 248, 0.35);
	color: #e2e8f0;
}